/*
Mobile: Buttons

Example Buttons

Markup: buttons.html

Styleguide 2.3.0
*/

button.btn-primary {
  background: rgb(23,94,38);
  background: linear-gradient(180deg, rgba(23,94,38,1) 0%, rgba(33,135,55,1) 30%);
  border: none;
  border-radius: 10px 0 0 10px;
  color: white;
  font-family: 'roboto-condensed', 'sans-serif';
  font-size: 1.35rem;
  font-weight: bold;
  height: 3.25rem;
  width: 33%;
}
button.btn-default {
  background: $ameren-gray-05;
  background: linear-gradient(180deg, $ameren-gray-05 0%, $ameren-gray-05 30%);
  border: $ameren-blue;
  border-style: solid;
  border-radius: 0 0 0 0;
  color: black;
  font-family: 'roboto-condensed', 'sans-serif';
  font-size: 1.35rem;
  font-weight: bold;
  height: 3.25rem;
  width: 33%;
}
button.btn-blocked {
  background: $ameren-gray-10;
  background: linear-gradient(180deg, $ameren-gray-10 0%, $ameren-gray-10 30%);
  border: none;
  border-style: solid;
  border-radius: 0 10px 10px 0;
  color: black;
  font-family: 'roboto-condensed', 'sans-serif';
  font-size: 1.35rem;
  font-weight: bold;
  height: 3.25rem;
  width: 33%;
}
