/*
Fonts

Buttons for the form container

Markup: fonts.html

Styleguide 1
*/

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'roboto-black';
    src: url('fonts/Roboto-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-black';
    src: url('fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
  font-family: 'roboto-condensed';
  src: url('fonts/RobotoCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed';
  src: url('fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-condensed';
  src: url('fonts/RobotoCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'roboto-condensed';
  src: url('fonts/RobotoCondensed-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: roboto;
}
