/*
Settings: Icons

Detailing Global Icons

Markup: icons.html

Styleguide 1.3.0

*/

.all-icons {
  display: flex;
  flex-wrap: wrap;

  .icon-container {
    display: flex;
    flex-flow: column;

    .icon-label {
      font-size: .75rem;
      white-space: nowrap;
    }
  }
}

svg.icon {
  width: 80px;
  height: 80px;

  .icon-path {
    fill: none;
    stroke-width: 1px;
    stroke: black;
  }
}

svg.polygon{
  fill: none;
  stroke-width: 1px;
  stroke: black;
}
