/*
Settings: Logos

Ameren Logos

Markup: logos.html

Styleguide 1.4.0
*/

.logo-cls-1{
  fill: green;
}

.logo-cls-2{
  fill: $ameren-red;
}

.logo-cls-3{
  fill: black;
}

.logo-cls-white{
  fill: white;
}
