/*
Mobile: Template

Template UI Layout

Markup: template.html

Styleguide 2.0.0
*/

.mobile-template-container {
  border: 1px solid #666666;
  display: block;
  height: 896px;
  position: relative;
  width: 420px
}

.mobile-component-container {
  display: block;
  width: 420px
}

.components-container {
    position: relative;
    height: 87%;
    z-index: 100;
}
